<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
	<head>
		<title>Song_Page</title>
	</head>
	
	<body>
		<form action="addsongs" method="post">
			
			<label>Song Name: </label>
			<input type="text" name="name">
			<br><br>
			
			<label>Artist: </label>
			<input type="text" name="artist">
			<br><br>
			
			<label>Genre: </label>
			<input type="text" name="genre">
			<br><br>
			
			<label>Link: </label>
			<input type="text" name="link">
			<br><br>
			
			<input type="submit" value="ADD SONG">
			
		</form>
		
	</body>
</html>