<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
	<head>
		<title>INDEX PAGE</title>
		<link rel="stylesheet" type="text/css" th:href="@{/index.css}">
	</head>
	
	<body>
		<div class="index">
		
		<h1>Welcome to TuneTrek</h1>
			
		<div class="form">
		<form action="login">
			<input type="submit" value="LOGIN" id="login">
		</form>
		
		<br><br>
		
		<form action="registration">
			<input type="submit" value="REGISTER" id="register">
		</form>
		</div>
		
		</div>
	
		
		
	</body>
</html>  

